body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Source Sans Pro', sans-serif;
}

.contain-to-grid {
    background: #001f3f;
}

.top-bar {
    background: #001f3f;
}

.top-bar-section ul li > a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #7FDBFF;
    letter-spacing: 0.0425rem;
}

.top-bar .name h1 a {
    font-family: 'Montserrat', Verdana, sans-serif;
    font-weight: 400;
    text-transform: lowercase;
    letter-spacing: 0.0875rem;
    color: #7FDBFF;
}
    .top-bar .name h1 a:hover {
        color: #82BAED;
    }

.logo-liste {
    font-family: 'Montserrat Alternates', 'Montserrat', Verdana, sans-serif;
    font-weight: 400;
    text-transform: lowercase;
}

.top-bar .toggle-topbar.menu-icon a {
    font-weight: 300;
    letter-spacing: 0.0875rem;
    color: #7FDBFF;
}
    .top-bar .toggle-topbar.menu-icon a:hover {
        color: #82BAED;
    }

.top-bar-section li.hover > a:not(.button) {
    background-color: #221c35;
    background: #001f3f;
    color: #7FDBFF; 
}
    .top-bar-section li:not(.has-form) a:not(.button) {
        background: #001f3f; 
    }
        .top-bar-section li:not(.has-form) a:not(.button):hover {
            background-color: #221c35;
            background: #00162D; 
            color: #82BAED;
        }
            .top-bar-section li.active:not(.has-form) a:not(.button) {
                color: #7FDBFF;
                background: #1A3552; 
            }
                .top-bar-section li.active:not(.has-form) a:not(.button):hover {
                    background: #1A3552;
                    color: #82BAED; 
                }

.top-bar-section ul li > a.button:hover, .top-bar-section ul li > a.button:focus {
    background-color: #221c35;
    color: #7FDBFF;
}

.top-bar.expanded .title-area {
    background: #001f3f; 
}
        